*.unstyled-link {
  color: #333333;
}
*.unstyled-link:hover {
  text-decoration: none;
  color: #333333;
}
h1,
h2,
h3 {
  color: #000000;
}
.form-sub-heading {
  border-bottom: 1px solid #dddddd;
  font-size: 14px;
}
.panel .form-sub-heading {
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
}
.panel.panel-has-nav {
  background-color: #666;
}
.panel .tab-content {
  background-color: #ffffff;
}
.panel.panel-collapsed .panel-heading {
  border-bottom: 0;
}
.panel-nav {
  border-bottom: 0;
}
.panel-nav > li a {
  border: 0;
  color: #fff;
  font-weight: bold;
}
.panel-nav > li a:hover {
  background-color: #555;
  border: 0;
  padding-bottom: 9px;
}
.panel-nav > li.active a {
  color: #666;
}
.panel-nav > li.active a:hover {
  background-color: #ffffff;
  padding-bottom: 10px;
}
.sub-nav .nav-pills > li > a {
  color: #999999;
}
.sub-nav .nav-pills > li > a:hover {
  color: #333;
  background-color: transparent;
}
.sub-nav .nav-pills > li > a:hover > .badge {
  background-color: #333;
}
.sub-nav .nav-pills > li.disabled > a,
.sub-nav .nav-pills > li.disabled:hover {
  color: #cccccc;
}
.sub-nav .nav-pills > li.disabled > a > .badge {
  background-color: #cccccc;
}
.sub-nav .nav-pills > li.active > a,
.sub-nav .nav-pills > li.active > a:hover,
.sub-nav .nav-pills > li.active > a:focus {
  color: #6fb5f1;
  background-color: transparent;
}
.sub-nav .nav-pills > li.active > a .badge,
.sub-nav .nav-pills > li.active > a:hover > .badge {
  color: #ffffff;
  background-color: #6fb5f1;
}
.secondary-nav .nav > li > a {
  border-radius: 0;
  color: #333333;
  font-weight: bold;
  border-bottom: 1px solid #efefef;
}
.secondary-nav .nav li ul li a {
  color: #6fb5f1;
  font-weight: normal;
  border-bottom: 0;
}
.secondary-nav .nav li.active a {
  color: #ffffff;
  background-image: url('../../../img/portal/sp-common.png');
  background-repeat: no-repeat;
  background-position: right 8px;
}
.secondary-nav .nav .badge {
  background-color: #333333;
}
.secondary-nav .nav .disabled a {
  color: #999999;
}
.secondary-nav .nav .disabled .badge {
  background-color: #cccccc;
}
.secondary-nav .nav .complete .badge {
  background-color: #009900;
}
.primary-nav {
  border: 0;
  background-color: #efefef;
}
.primary-nav .navbar-nav li > a,
.primary-nav .navbar-nav li > a:hover,
.primary-nav .navbar-nav li.active > a,
.primary-nav .navbar-nav li.active > a:hover {
  color: #000000;
}
.primary-nav .navbar-nav li.active > a {
  background-color: #efefef;
}
.primary-nav .navbar-nav li.active > a:hover {
  background-color: #efefef;
}
.primary-nav .navbar-nav li > a {
  border-right: 0px solid #c9c9c9;
  border-left: 0px solid #ffffff;
}
.primary-nav .navbar-nav li > a:hover {
  background-color: #f5f5f5;
}
.primary-nav .navbar-nav li:first-child > a {
  border-left: 0;
}
.primary-nav .navbar-nav li:last-child > a {
  border-right: 0;
}
.primary-nav .fa {
  font-size: 14px;
  margin-right: 10px;
}
.navbar-brand,
.navbar-brand:hover {
  color: #ffffff;
}
.actions-nav {
  border-bottom: 0;
  border-top: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #efefef;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px 0 #efefef;
  box-shadow: 0 5px 10px 0 #efefef;
}
.actions-nav .navbar-nav > li > a {
  color: #6fb5f1;
}
.actions-nav .navbar-nav > li > a:hover {
  color: #419dec;
}
.section-title {
  font-weight: bold;
}
.arrow-left {
  background-image: url('../../../img/portal/sp-common.png');
  background-repeat: no-repeat;
  background-position: -20px 0;
}
.arrow-up {
  background-image: url('../../../img/portal/sp-common.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.footer {
  border-top: 1px solid #cccccc;
  background-color: #efefef;
  color: #666666;
}
.icon-cancel {
  background-image: url('../../../img/portal/sp-common.png');
  background-repeat: no-repeat;
  background-position: -80px 0;
}
.login {
  background-color: #ffffff;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0px 0px 10px 0 #cccccc;
  box-shadow: 0px 0px 10px 0 #cccccc;
}
.login .login-header {
  background-color: #666;
}
.table-default {
  border-bottom: 1px solid #efefef;
}
body#login {
  background-color: #efefef;
}
.icon-bar {
  background-color: #000;
}
@font-face {
  font-family: 'ralewaylight';
  src: url('../../../fonts/raleway-light-webfont.eot');
  src: url('../../../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'), url('../../../fonts/raleway-light-webfont.woff') format('woff'), url('../../../fonts/raleway-light-webfont.ttf') format('truetype'), url('../../../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaythin';
  src: url('../../../fonts/raleway-thin-webfont.eot');
  src: url('../../../fonts/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../../../fonts/raleway-thin-webfont.woff') format('woff'), url('../../../fonts/raleway-thin-webfont.ttf') format('truetype'), url('../../../ffonts/raleway-thin-webfont.svg#ralewaythin') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-bar {
  background-color: #000;
}
body {
  background-color: #efefef;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ralewaylight", helvetica, arial;
}
.header {
  box-shadow: 0px 2px 2px #cccccc;
  position: fixed;
  z-index: 1001;
  width: 100%;
}
.panel-heading h1,
.panel-heading h2,
.panel-heading h3 {
  font-family: "ralewaylight", helvetica, arial;
}
.primary-nav {
  background-color: #fff;
}
.primary-nav .navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}
.primary-nav .navbar-brand .logo {
  top: 15px;
  width: 148px;
}
.primary-nav .navbar-nav li > a,
.primary-nav .navbar-nav li > a:hover,
.primary-nav .navbar-nav li.active > a,
.primary-nav .navbar-nav li.active > a:hover {
  color: #6fb5f1;
}
.primary-nav .navbar-nav li.active > a {
  background-color: #ffffff;
  color: #333333;
}
.primary-nav .navbar-nav li.active > a:hover {
  background-color: #ffffff;
  color: #333333;
}
.primary-nav .navbar-nav li > a {
  border-right: 0px solid #c9c9c9;
  border-left: 0px solid #ffffff;
}
.primary-nav .navbar-nav li > a:hover {
  background-color: #f5f5f5;
}
.primary-nav .navbar-nav li:first-child > a {
  border-left: 0;
}
.primary-nav .navbar-nav li:last-child > a {
  border-right: 0;
}
.primary-nav .indicator-active {
  width: 17px;
  height: 12px;
  background-position: 0 0;
  bottom: -4px;
}
@media (max-width: 991px) {
  .primary-nav li.active .indicator-active {
    display: none;
  }
}
.sub-nav .nav-pills a {
  border-radius: 0;
  background-color: #a1a1a1;
  color: #ffffff;
  font-family: "ralewaylight", helvetica, arial;
}
.sub-nav .nav-pills li {
  margin-left: 20px;
}
.sub-nav .nav-pills li .active-indicator {
  display: none;
}
.sub-nav .nav-pills li:first-child {
  margin-left: 0;
}
.sub-nav .nav-pills li > a {
  color: #ffffff;
  background-color: #a1a1a1;
}
.sub-nav .nav-pills li > a:hover {
  background-color: #a1a1a1;
}
.sub-nav .nav-pills li.disabled > a {
  background-color: #ccc;
  color: #efefef;
}
.sub-nav .nav-pills li.active {
  font-weight: bold;
}
.sub-nav .nav-pills li.active > a,
.sub-nav .nav-pills li.active > a:hover {
  background-color: #6fb5f1;
  color: #ffffff;
}
.sub-nav .nav-pills li.active .active-indicator {
  color: #6fb5f1;
}
.sub-nav .nav-pills li.active .active-indicator.fa {
  font-size: 32px;
  line-height: 11px;
  display: block;
  margin-top: -2px;
  width: 14px;
  margin-right: auto;
  margin-left: auto;
}
.positive {
  color: #197a00;
}
.negative {
  color: #e23601;
}
.neutral {
  color: #fcc801;
}
.panel-dashboard {
  box-shadow: 0px 2px 0px #ccc;
}
.panel-dashboard .panel-heading {
  padding-bottom: 0;
}
.panel-dashboard.panel-stats .stats {
  text-align: center;
  padding: 15px 0px 0 0px;
}
.panel-dashboard.panel-stats .stat-primary {
  font-size: 48px;
  font-weight: bold;
  display: block;
  line-height: 100%;
}
.panel-dashboard.panel-stats .stat-secondary {
  font-size: 24px;
}
.panel-dashboard.panel-stats .stat-secondary.positive {
  color: #23ad00;
}
.panel-dashboard.panel-stats .stat-secondary.negative {
  color: #fe4e18;
}
.panel-dashboard.panel-stats .stat-secondary.neutral {
  color: #fed432;
}
.panel-dashboard .panel-footer {
  box-sizing: border-box;
  background-color: #ffffff;
}
.panel-dashboard .panel-footer .fa {
  vertical-align: middle;
}
.panel-dashboard .panel-footer a.action-link {
  color: #ccc;
  width: 33%;
  padding: 0;
  margin: 0;
  float: left;
  text-align: center;
  box-sizing: border-box;
}
.panel-dashboard .panel-footer a.action-link:hover {
  text-decoration: none;
  color: #666;
}
.panel-dashboard .panel-footer a.expand-panel {
  font-size: 18px;
  color: #333;
}
.panel-dashboard .panel-footer a.expand-panel:hover {
  color: #000;
}
.panel-dashboard .panel-footer a.close-panel {
  text-align: left;
}
.panel-dashboard .panel-footer a.get-details {
  text-align: right;
}
.panel-graph {
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  position: relative;
}
.graph-low {
  background-color: #dff0d8;
}
.graph-high {
  background-color: #f2dede;
}
.panel-title {
  font-size: 18px;
}
.stat-col .stat-primary {
  font-size: 21px;
  font-weight: bold;
}
.stat-col .stat-secondary {
  font-size: 21px;
  font-weight: normal;
  color: #1a1a1a;
}
.scroll-panel {
  overflow: auto;
}
.panel-recent-connections .scroll-panel {
  max-height: 200px;
  overflow: auto;
}
.contact-list {
  padding-left: 0;
  list-style-image: none;
  list-style: none;
}
.contact-list li {
  list-style-image: none;
}
.dashboard-table td,
.dashboard-table th {
  vertical-align: middle;
}
.dashboard-accordion .scroll-pane {
  max-height: 500px;
}
.dashboard-accordion .panel-heading {
  padding: 0px 10px;
  margin: 0;
  border-bottom: 0;
  background-color: transparent;
}
.dashboard-accordion .panel-heading h4 {
  font-family: arial, helvetica, sans-serif;
}
.dashboard-accordion .panel-heading h4 a {
  color: #333333;
}
.dashboard-accordion .panel {
  border: 0;
  background-color: #efefef;
  box-shadow: 0;
}
.dashboard-accordion .panel-body {
  border-top: 0 !important;
}
.actions-nav {
  padding-top: 0px;
  font-family: "ralewaylight", helvetica, arial;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: transparent;
}
.actions-nav a {
  color: #333333;
}
.actions-nav a:hover {
  text-decoration: none;
}
.date-picker-dashboard .fa-calendar {
  margin-right: 10px;
}
.date-picker-dashboard .fa-caret-down {
  margin-left: 10px;
}
.date-picker-dashboard .fa-chevron-left {
  margin-right: 10px;
}
.date-picker-dashboard .fa-chevron-right {
  margin-left: 10px;
}
.date-picker-dashboard strong {
  text-transform: uppercase;
}
.main {
  padding-top: 70px;
}
/*
#dashboard-freewall {
	margin:15px;
	margin-top:0;
	.item {
		padding:0;
		width:320px;
		float:left;
	}
}
*/
#dashboard-shapeshift {
  position: relative;
  width: 100%;
  padding: 15px;
}
#dashboard-shapeshift .item {
  width: 80px;
  position: absolute;
}
#dashboard-shapeshift .item[data-ss-colspan="3"] {
  width: 320px;
}
.side-panel {
  -webkit-transition: left .5s;
  transition: left .5s;
  box-sizing: border-box;
  min-height: 100%;
  left: 0;
  top: 50px;
  background-color: #ff0000;
  display: none;
  position: relative;
  padding: 20px;
  color: #fff;
  background-color: #333;
  font-size: 14px;
  line-height: 21px;
}
.side-panel .fa-times {
  color: #fff;
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.side-panel .tile-list {
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .side-panel {
    width: 100%;
  }
  .secondary {
    float: none !important;
    width: 100% !important;
  }
}
ul.no-style {
  list-style: none;
  padding: 0;
  margin: 0;
}
.graph-container {
  z-index: 7;
  width: 100%;
  height: 100%;
  position: absolute;
}
.graph-range {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #fff;
  font-weight: bold;
}
.lownormalBP {
  background-color: #2E8B57;
  z-index: 5;
  width: 16%;
  height: 16%;
}
.normalBP {
  background-color: #9ACD32;
  z-index: 4;
  width: 33%;
  height: 33%;
}
.highnormalBP {
  background-color: #FFD700;
  z-index: 3;
  width: 50%;
  height: 50%;
}
.mildHyperBP {
  background-color: #FF4500;
  z-index: 2;
  width: 67%;
  height: 67%;
}
.modHyperBP {
  background-color: #FF0000;
  width: 84%;
  height: 84%;
  z-index: 1;
}
.severeHyperBP {
  background-color: #B22222;
  width: 101%;
  height: 101%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.bg-bp-graph {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
